* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 480px) {
  main{
    flex-direction: column;
    
}
}
@media (min-width: 481px) and (max-width: 800px){

}
  
.container {
  max-width: 800px;
  margin: 0 auto;
}



nav {
  height: 40px;
  background: #dd6c2a;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

article {
  display: flex;
  flex-wrap: wrap;
}

main section h1 {
  padding: 10px;
}

article img {
  padding: 30px;
}

hr {
  margin-top: 20px;
}

article p {
  max-width: 400px;
}
article form{
  justify-items: center;
  padding: 10%;

}

article form input {
  border-color: #dd6c2a;
  padding: 5%;
  display: flex;
  align-items: center;
  color: #dd6c2a;
}

aside {
  display: flex;
  justify-content: center;
  margin: 20px;
}

aside p strong {
  display: block;
  padding-bottom: 10px;
}
